<h1>Show Book</h1>

<ul>
  <li>
    <strong>Title:</strong>
    <%= @book.title %>
  </li>
  <li>
    <strong>Author:</strong>
    <%= @book.author %>
  </li>
  <li>
    <strong>ISBN:</strong>
    <%= @book.isbn %>
  </li>
</ul>

<span><.link href={~p"/books"}>Back</.link></span>
